.films-item:not(:nth-child(3n+3)) {
    margin-right: 30px;
}

.films-item {
    margin-top: 30px;
    padding: 20px 10px;
    width: 350px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    border-radius: 25px;
    border: 4px solid #6c81e7;

}

.films-item span:not(:first-child) {
    margin-top: 10px;
}

.films-item-delete {
    margin: 0 auto;
    margin-top: auto;
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 15px;
    background-color: #f44336ce;
    color: #ffffff;
    transition: all .3s;
    cursor: pointer;
}

.films-item-delete:hover {
    background-color: #f43636;
}