* {
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    background: #552ec2ec;
    color: #ffffff;
}

i {
    font-size: 1.3rem;
}

ul {
    margin: 0;
    list-style: none;
    padding-inline-start: 0;
}

.container {
    margin: 0 auto;
    max-width: 1110px;
}

.active {
    display: block;
}

.hide {
    display: none;
}