.films-item-descr {
    display: block;
}

.films-item-descr-content {
    position: relative;
    margin: 120px auto;
    padding: 40px 20px 20px;
    width: 70%;
    height: 500px;
    display: flex;
    border-radius: var(--border-soft);
    background: #9b8dc0ec;
}

.films-item-descr-close {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}

.films-item-descr-text {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.films-item-descr-text .title {
    font-size: 2rem;
}