.films-item-descr {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5)
}

.films-item-descr-content {
    position: relative;
    margin: 120px auto;
    padding: 40px 20px 20px;
    width: 70%;
    height: 500px;
    display: flex;
    border-radius: var(--border-soft);
    background: #9b8dc0ec;
}

.films-item-descr-img {}


.films-item-descr-close {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}

.films-item-descr-text {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.films-item-descr-text .title {
    font-size: 2rem;
}